.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #0a0a0a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.navbar-scrolled {
    background-color: #171717;
}

/* SEARCH COMPONENT */
.search-container {
    position: relative;
    width: 100%;
    margin: 20px auto;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #8e8e8e;
    border-radius: 25px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #777;
    cursor: pointer;
}

/* SEARCH COMPONENT */

/* LOADING COMPONENT */
.loaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Loader animation */
.loader {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Loading text */
.text {
    margin-top: 10px;
    font-size: 15px;
}

/* Keyframe animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* LOADING COMPONENT */

/* MODAL SECTION COMPONENT */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal Box */
.modal {
    background: white;
    min-height: 50%;
    max-height: 80%;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
    overflow-y: auto;
}

/* Modal Title */
.title {
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

/* Modal Content */
.modal-content {
    margin: 20px 5px;
    font-size: 16px;
    color: #333;
    max-width: 600px;
}

/* Close Button */
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}

.closeButton:hover {
    color: red;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* MODAL SECTION COMPONENT */

/* PROFILE SECTION COMPONENT */
.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.profile-container img {
    flex-shrink: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.profile-info h2 {
    margin: 0;
    font-size: 24px;
}

.profile-info a {
    max-width: 110px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.profile-info a:hover {
    background-color: #0056b3;
}
/* PROFILE SECTION COMPONENT */

.text-center {
    text-align: center;
}

.text-error {
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(254, 35, 35);
    background-color: rgba(254, 35, 35, 0.219);
    border-radius: 10px;
    padding: 10px 20px;
}

.content {
    padding: 80px 20px;
    flex: 1;
}

.button {
    background-color: #007bff;
    max-width: max-content;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #0056b3;
    /* Darker blue */
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

/* CARD COMPONENT */
.card-spotlight {
    position: relative;
    border-radius: 1.5rem;
    border: 1px solid #222;
    background-color: #111;
    padding: 2rem;
    overflow: hidden;
    --mouse-x: 50%;
    --mouse-y: 50%;
    --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
    opacity: 0.6;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.limit-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* CARD COMPONENT */

.footer {
    text-align: center;
    padding: 20px;
}

/* Apply styles for screens (tablets & mobile) */
@media screen and (min-width: 768px) {
    .search-container {
        width: 90%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .search-container {
        width: 50%;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}